<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit
    (ingredientAdded)="OnIngredientAdded($event)"></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <a href="#"
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients"
        >
        {{ ingredient.name }} ({{ ingredient.amount }})
        <button class="btn btn-danger" type="button" (click)="onChoose(ingredient)">Delete</button>
      </a>
    </ul>
  </div>
</div>


